@model frontier.myAccount.web.Models.LoginModel

@{
    var returnUrl = @Context.Request.Query["returnurl"];
}


<div class="container login-container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-md-6  c ui-light">
            <div class="my-gexa-login-form">
                <h2><b>Sign in to MyGexa!</b></h2>
                <br class="hidden-xs">
                <br>

                <form id="login-form" asp-action="LoginAsync" asp-route-returnurl="@returnUrl" method="post">

                    <div class="form-group">
                        <label asp-for="UserName" class="cols-sm-2 control-label">Username</label>
                        <input asp-for="UserName"
                               type="text"
                               class="form-control"
                               style="border-radius: 5px; cursor: pointer"
                               placeholder="Username"
                               required
                               autofocus
                               tabindex="1" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="cols-sm-2 control-label">Password</label>
                        <input asp-for="Password"
                               type="password"
                               class="form-control"
                               style="border-radius: 5px; cursor: pointer"
                               placeholder="Type your Password"
                               required
                               tabindex="2" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
                    <div id="errorMesage" class="text-danger"> @ViewData["ErrorMesage"] </div>

                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" id="loginButton"
                                    class="btn btn-block btn-success">
                                Login
                            </button>
                            <br />
                        </div>
                        <div class="col-md-6">
                            <button type="button" id="registerButton"
                                    class="btn btn-block btn-default">
                                Register <i class="fa fa-chevron-right"></i>
                            </button>
                            <br />
                        </div>
                    </div>
                    <p>Forgot your <a>Username</a> or <a>Password</a>?</p>

                </form>
            </div>
        </div>
        <div class="ui-dark col-xs-12 col-sm-6 col-sm-push-6">
            <h1>Login Now to Manage Your Account 24/7</h1>
            <p class="ui-subhead">
                It's easy to pay your bill, check that we've received your payment, and easily review and renew your plan.
            </p>
            <hr class="hidden-xs" />
            <div class="row hidden-xs ">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="media">
                        <div class="media-left"><i class="fa fa-gear fa-3x"></i></div>
                        <div class="media-body">
                            <h4 class="media-heading">Pay Your Bill and Check Payments</h4>
                            <p>It's easy to pay your bill in one click and check we've received your latest payment.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="media">
                        <div class="media-left"><i class="fa fa-gear fa-3x"></i></div>
                        <div class="media-body">
                            <h4 class="media-heading">Get an Estimate of Your Bill</h4>
                            <p>You can get an estimate of your monthly bill amount and easily review and renew your plan.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#loginButton").click(function () {
                $("#errorMesage").empty();
            });
        });
    </script>
}

