<footer id="footer" class="fixedToBottom">
    <div class="footer-dark">
        <div class="container">
            <div class="row text-sm-center">
                <div class="col-xs-12 col-sm-6">
                    <a href="http://www.gexaenergy.com/terms-of-use/" target="_blank">Terms of Use</a>
                    <a href="http://www.gexaenergy.com/privacy-policy/" target="_blank">Privacy Policy</a>
                    <a href="http://www.gexaenergy.com/legal-notices-and-terms/" target="_blank">Legal Notices &amp; Terms</a>
                </div>
                <div class="col-xs-12 col-sm-6 text-right">
                    <a href="http://www.gexaenergy.com/for-home/support/contact-us/" target="_blank">Contact Us</a>
                    <a href="mailto:customercare@gexaenergy.com">customercare@gexaenergy.com</a><br class="visible-xs" />
                </div>
            </div>
        </div>
    </div>
    <div class="footer-dark">
        <div class="container">
            <div class="row text-sm-center">
                <div class="col-xs-12 col-sm-6">
                    <p>&copy; Gexa Energy, LP All rights reserved</p>
                </div>
                <div class="col-xs-12 col-sm-6 text-right">
                    <p>PUCT CERTIFICATE #10027</p>
                </div>
            </div>
        </div>
    </div>
</footer>