<nav class="navbar navbar-dark">
    <div class="container container-relaxed">
        <ul class="nav navbar-nav navbar-left">
            <li><small><span class="fa fa-rocket fa-rotate-45 fa-fw"></span> My Gexa </small></li>
        </ul>
        <ul class="nav navbar-nav navbar-right hidden-xs">
            <li><a href="#"><small><span class="fa fa-sign-out fa-white"></span> <span class="hidden-xs">Log in Or Sign Up for Great GEXA Energy Rates</span></small></a></li>
        </ul>
    </div>
</nav>
<nav class="navbar custom-nav">
    <div class="container container-relaxed">
        <div class="navbar-header">
            <div class="navbar-logo"> <img src="~/images/global/gexa-lq.png" alt="Gexa Energy" /> </div>
        </div>
    </div>
</nav>
<div class="homepage-hero-wrapper">
    <div class="homepage-hero-module">
        <div class=" visible-xs visible-sm"> <img src="~/images/home/Snapshots/aerial_houston_xs.jpg" alt=""> </div>
        <div class="video-container hidden-xs hidden-sm">
            <div class="filter"></div>
            <video autoplay loop class="fillWidth" id="login-video-player">
                <source src="~/images/home/WEBM/aerial_houston_xs.webm" type="video/webm" />
                Your browser does not support the video tag. I suggest you upgrade your browser.
                <source src="~/images/home/MP4/aerial_houston_xs.mp4" type="video/mp4" />
                Your browser does not support the video tag. I suggest you upgrade your browser.
            </video>
        </div>
    </div>
</div>