$account-base: rgba(6,81,128,1.0) !default;
$plans-base: rgba(254,162,32,1.0) !default;
$payment-base: rgba(46,177,52,1.0) !default;
$control-base: rgba(27,141,205,1.0) !default;
$footer-base: rgba(231,231,231,1.0) !default;
$dark-base: rgba(10,10,10,1.0) !default;
$highlight-row: rgba(241,240,207, 0.8) !default
