<section>
    <div class="row viewMyBill">
        <div class="col-lg-8 clearfix">
            <h1>My Current Bill</h1>
            <p>Account No: 542572 </p>
            <div class="alert alert-info d-block d-sm-none d-none d-sm-block d-md-none d-none d-md-block d-lg-none">
                Thank
                you for your payment of $500.00 on 10/15/2019
            </div>
            <div class="alert alert-danger d-block d-sm-none d-none d-sm-block d-md-none d-none d-md-block d-lg-none">
                Due
                Date: 10/30/2019
            </div>
            <div class="col-md-8 offset-md-2">
                    <table border="0" width="100%">
                        <colgroup>
                            <col width="80%" />
                            <col width="20%" />
                        </colgroup>
                        <tbody>
                            <tr class="">
                                <td>Past Due</td>
                                <td colspan="2">$50.00</td>
                            </tr>
                            <tr style="border-bottom: 1px solid #000;">
                            <tr>
                                <td>Current Charges Due</td>
                                <td colspan="2">$35.00</td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Total Amount Due</h4>
                                </td>
                                <td colspan="2">
                                    <h4>$135.00</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
            </div>
        </div>
        <br class="visible-xs" />
        <div class="col-lg-4">
            <div class="alert alert-info hidden-xs hidden-sm hidden-md" >
                Thank
                you for your payment of $650.00 on 10/25/2019
            </div>
            <div class="alert alert-danger hidden-xs hidden-sm hidden-md">
                Due
                Date: 11/25/2019
            </div>

            @*<div class="view-my-bill-billing-payment-preferences">
                <div class="view-my-bill-billing-pad">
                    <h3>Your Settings</h3>
                    <mygexa-view-my-bill-preference></mygexa-view-my-bill-preference>
                </div>
            </div>*@


        </div>
    </div>
</section>